@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
}

/* shared style */
.primary-btn {
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    position: relative;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}

.primary-btn:hover {
    color: #006A50;
}

.primary-btn::before {
    content: "";
    height: 100%;
    width: 0;
    background: #C6E4D6;
    position: absolute;
    top: 0;
    left: -4px;
    z-index: -1;
    transition: .5s;
}

.primary-btn:hover::before {
    width: 150%;
}

.section-heading{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 35px;
}

.desc{
    font-size: 16px;
    line-height: 25px;
    color: #565656;
}

body{
    max-width: 1580px;
    background: #f5f5f5;
    margin: auto;
}

section{
    margin: 80px 0;
}

/* This Style For Header  Section*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

header .logo{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 30px;
}


/* This Style For Banner  Section */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C6E4D6;
    padding: 80px 70px;
    border-radius: 20px;
    margin-top: 20px;
}

#banner .banner-text{
    width: 60%;
}

#banner .banner-text .sub-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #0E0E0E;
    opacity: 0.6;
}

#banner .banner-text .title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #0E0E0E;
}

#banner .banner-img{
    width: 40%;
}

#banner .banner-img img{
    width: 100%;
}

/* This Style For Pillar  Section */

#pillar .pillar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pillar .pillar-container .pillar-box{
    border: 1px solid #0e0e0e17;
    border-radius: 16px;
    width: 350px;
    height: 260px;
    padding: 24px;
}
#future .future-container .future-box .tittle,
#pillar .pillar-container .pillar-box .tittle{
    font-size: 20px;
    font-weight: bold;
    color: #3E3E3E;
    margin-bottom: 13px;
}

#pillar .pillar-container .pillar-box img{
    width: 60px;
    margin-bottom: 15px;
}

/* This Style For future  Section */
#future .future-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0;
}

#future .future-container .future-box{
    width: 500px;
    height: 315px;
    padding: 30px;
    border-radius: 15px;
    background: var(--bg);
}

#future .future-container .future-box .tittle{
    font-size: 25px;
}

#future .future-container .future-box img{
    width: 70px;
    margin-bottom: 24px;
}

#future .future-container .future-box .desc{
    font-size: 18px;
    margin-bottom: 24px;
}

#future .future-container .future-box .btn{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid var(--bg);
    background: var(--bg);
}

#future .future-container .primary-btn::before{
    background: var(--hover);
}

/* This Style For Quote  Section */

#quote{
    background: #fff;
     background-image: url(assets/quote-bg.png);
     background-repeat: no-repeat;
     background-position: left 24px top 24px;
     background-size: 64px;
     border-radius: 15px;
     height: 242px;
     padding: 48px 24px;
     margin-top: -50px;
}

#quote .desc:nth-child(1){
    line-height: 25px;
    margin-bottom: 12px;
    color: #424141;
}

#quote .tittle{
    margin-bottom: 10px;
}

/* This Style For opinion  Section */

#opinion .opinion-box{
    background: #fff;
    padding: 32px;
    border-radius: 15px;
}

#opinion .opinion-box .table-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background: #C6E4D6;
    border: 1px solid #0E0E0E15;
}

#opinion tr, #opinion td{
    border: 1px solid #0E0E0E15;
    padding: 15px;
}

#opinion table{
    border-collapse: collapse;
    width: 100%;
}

#opinion .select{
    font-size: 16px;
    margin: 0 21%;
    padding: 14px 18px;
    border: 1 px solid #565656;
    border-radius: 8px;
    background: #C6E4D6;
}

#opinion .select i{
    margin-left: 5px;
}

/* This Style For news  Section */

#news .news-container .news-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 25px;
    gap: 32px;
}

#news .news-container .news-box:nth-child(2){
    flex-direction: row-reverse;
}

#news .news-container .news-box .img{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

#news .news-container .news-box .news-text .heading{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 13px;
    color: #3E3E3E;
}

#news .news-container .news-box .news-text .media{
    width: 130px;
    margin-bottom: 13px;
}

#news .news-container .news-box .news-text .dates{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    margin-bottom: 5px;
}

#news .news-container .news-box .news-text .primary-btn{
    padding: 12px 28px;
    margin-top: 30px;
}

/* This Style For donate Section */
#donate{
    text-align: center;
}

#donate .donate-tittle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E;
}

#donate .desc{
    padding: 0 80px;
    margin-bottom: 32px;
}

#donate .amount-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 24px;
}

#donate .amount-container .amount-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    height: 130px;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #363933;
    border: 1px solid #0E0E0E15;
    background: #fff;
    transition: .5s;
}

#donate .amount-container .amount-box:nth-child(2){
    background: #C6E4D6;
}

#donate .amount-container .amount-box:hover{
    background: #C6E4D6;
}

#donate input[type="number"]{
    width: 85%;
    height: 65px;
    margin: auto;
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #0E0E0E15;
    overflow-wrap: var(--hover);
    background: #fff;
    margin-bottom: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* This style for newsletter section */
#newsletter{
    text-align: center;
    background: #C6E4D6;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    padding: 90px 300px;
}

#newsletter .newsletter-tittle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E;
}

#newsletter .subscribe{
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-collapse: collapse; */
}

#newsletter .subscribe .primary-btn{
    width: 15%;
    height: 50px;
    border-radius: 0;
    border: none;
    font-size: 18px;
    font-weight: 400;
    background: #006A50;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#newsletter .subscribe .primary-btn::before{
    background: #D5E1F5;
}

#newsletter .subscribe input{
    width: 85%;
    height: 50px;
    font-size: 16px;
    padding: 18px 20px 18px 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
}