@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    background: #f5f5f5;
    margin: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

header .logo{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 30px;
}

header .signin-btn{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: #fff;
    transition: .5s;
    cursor: pointer;
}

header .signin-btn:hover{
    background: #006A50;
    color: #fff;
    border: 1px solid #006A50;
}