@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
}

/* shared style */
.primary-btn {
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    position: relative;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}

.primary-btn:hover {
    color: #006A50;
}

.primary-btn::before {
    content: "";
    height: 100%;
    width: 0;
    background: #C6E4D6;
    position: absolute;
    top: 0;
    left: -4px;
    z-index: -1;
    transition: .5s;
}

.primary-btn:hover::before {
    width: 120%;
}

body{
    max-width: 1580px;
    background: #f5f5f5;
    margin: auto;
}


/* This Style For Header  Section*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

header .logo{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 30px;
}


/* This Style For Banner  Section */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C6E4D6;
    padding: 80px 70px;
    border-radius: 20px;
    margin-top: 20px;
}

#banner .banner-text{
    width: 60%;
}

#banner .banner-text .sub-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #0E0E0E;
    opacity: 0.6;
}

#banner .banner-text .title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #0E0E0E;
}

#banner .banner-img{
    width: 40%;
}

#banner .banner-img img{
    width: 100%;
}